#body {
 background-color: orange;
}

h1 {
    padding-top: 100px;
    text-align: center;
}

.instrument {
    width: 200px;
    height: 100px;
}

button {
    background-color: white;
}

.container {
    margin-top: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.guitar {
    background-image: url(../images/guitar.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.drum {
    background-image: url(../images/drum.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bass {
    background-image: url(../images/bass.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.flute {
    background-image: url(../images/flute.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.piano {
    background-image: url(../images/piano.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.sax {
    background-image: url(../images/sax.avif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}